<div class="row">
    <div class="column"></div>
    <div class="column column-50">
        <section class="container">
            <div id="logobar">
                <div class="bplogo" id="bplogo" style="width:240px; height:auto;">
                  <a href="http://bradfieldproperties.com">
                    <img src="http://bradfieldproperties.info/splt/imgs/logo.svg" alt="Bradfield Properties" title="Bradfield Properties">
                  </a>
                </div>
              </div>
          </section>

        <chat-dialog></chat-dialog>
    </div>
    <div class="column"></div>
</div>



